* {background-color: rgb(201, 214, 238);}
label {color: rgb(115, 43, 163);}

input[type=text] {background-color: rgb(224, 224, 182); border-color: yellow;}
input[type=password] {background-color: rgb(224, 224, 182); border-color: yellow;}
input[type=button] {background-color: rgb(82, 76, 167); border-color: rgb(60,48,233); color:white}
input[type=reset] {background-color: rgb(82, 76, 167); border-color: rgb(60,48,233); color:white}
input::placeholder {color: rgb(5, 5, 66);}

.link {color:black;}