body {
    background-image: url('../images/bigben.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

table {
    background-color: rgb(71, 107, 138);
}

label {
    color:aliceblue;
}

input[type=button] {
    background-color: rgb(12, 9, 51);
    border-color: rgb(60,48,233);
    color:white}

footer {
    background-color: rgb(11, 11, 39);
    color:aliceblue;
}